target
.idea/workspace.xml
.idea/excludeFromValidation
.idea/libraries
.idea/template/template_variable_settings.xml
*.iml

frontend/node
node_modules/

#ignore all static frontend content
bootstrap-ui-module/src/main/resources/views/static/BootstrapUiModule/css/*
bootstrap-ui-module/src/main/resources/views/static/BootstrapUiModule/js/*
