target
.idea/workspace.xml
.idea/excludeFromValidation
.idea/libraries
.idea/template/template_variable_settings.xml
*.iml

#ignore all static frontend content
node_modules
bootstrap-ui-module/src/main/resources/views/static/BootstrapUiModule/css/*
bootstrap-ui-module/src/main/resources/views/static/BootstrapUiModule/js/*
bootstrap-demo-app/src/main/resources/views/static/bootstrapSample/theme
ax-bootstrap-4-utilities/src/main/resources/META-INF
ax-bootstrap-theme/src/main/resources/views/static/adminweb-themes

db
local-data


# macOS:
.DS_Store

# Maven:
.effective-pom.xml
.dependency-tree.txt
.foreach-deps.txt
.flattened-pom.xml
pom.xml.versionsBackup
versions.properties

# Emacs:
*~
