@import 'modules/_entity-query-filter-form';

.sortable {
  cursor: pointer;

  :hover {
    color: orange;
  }

  span.caret {
    display: none;
  }
  &.dropup, &.dropdown {
    span.caret {
      display: inline-block;
    }
  }
}

.table > thead > tr.odd {
  background-color: #ffffff;
}

.pager-form {
  color: black;
}

table > tbody > tr > td.row-actions {
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
}


