<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Boot Admin Application" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <extension name="coverage" enabled="false" merge="false" sample_coverage="true" runner="idea" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.foreach.across.samples.entity.EntityModuleTestApplication" />
    <option name="WORKING_DIRECTORY" value="file://$MODULE_DIR$" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <module name="entity-module-test" />
    <envs />
    <method />
  </configuration>
</component>